<html>
<head>
<title>Profile</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/jquery.tagsinput-revisited.js"></script>

<link rel="stylesheet" href="css/profile-form.css">
<link rel="stylesheet" href="css/jquery.tagsinput-revisited.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style>
*{
box-sizing: border-box;
}



.navbar {
overflow: hidden;
background-color: #333;
font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}




  </style>
</head>
<body>
  <div class="navbar">
    <a href="#">Home</a>
    <a href="#">about</a>

  	<div class="dropdown">
  		<button class="dropbtn">Resources
  			<i class="fa fa-caret-down"></i>
  		</button>
  		<div class="dropdown-content">
  			<a href="math">math-pix</a>
  	<a href="video">video indexer</a>
  		<a href="volunteers">Find volunteers</a>
  		</div></div>

  		  <div id="login"></div>
  	<div id="admin"></div>
  	<div id="user"></div>

  </div>


<div id="container">
<form class="col s12" name="profileform" id="profileform" action="/user_profile" enctype="multipart/form-data" method="POST">
<div id="usertype">

<div class="row">

UserType
<br>
<label for="user_Type4">
<input type="radio" name="user_Type" id="user_Type4" value="1"><span>student with disability</span></label>
<label>
<input type="radio" name="user_Type" id="user_Type1" value="2"><span>volunteer student</span></label>
<label>
<input type="radio" name="user_Type" id="user_Type2" value="3"><span>volunteer professional</span></label>
<label>
<input type="radio" name="user_Type" id="user_Type3" value="4"><span>volunteer others</span></label>
<label>
<input type="radio" name="user_Type" id="user_Type5" value="5"><span>HR</span></label>
<label>
<input type="radio" name="user_Type" id="user_Type6" value="6"><span>Admin</span></label>
<label>
<input type="radio" name="user_Type" id="user_Type0" value="0"><span>other</span></label>
<span class="helper-usertype"></span>
</div>
</div>
<div id="personal_info">
<div class="row">
<div class="input-field col s6">
<label for="user_email">email (required)</label>
<input type="email" name="user_email" id="user_email" onfocusout="validateEmail()" >
<span class="helper-text"></span>
</div>
</div>
<div class="row">
<div class="input-field col s6">
<label for="user_fname">First name (required)</label>
<input type="text" name="user_fname" id="user_fname" onfocusout="validateFirstName()">
<span class="helper-text"></span>
</div>
<div class="input-field col s6">
<label for="user_lname">Last name (required)</label>
<input type="text" name="user_lname" id="user_lname" onfocusout="validateLastName()">
<span class="helper-text"></span>
</div>
</div>
<div class="row">
  <div class="input-field col s6">
  <label for="user_mob">Mobile (required)</label>
  <input type="text" name="user_mob" id="user_mob" onfocusout="validateMobNo()">
  <span class="helper-text"></span>
  </div>
</div>
<br>

<div class="row">
<label>Gender (required)</label>
<br>
<label><input type="radio" name="gender" id="gender" value="M"><span>Male</span></label>
<label><input type="radio" name="gender" id="gender" value="F"><span>Female</span></label>
<label><input type="radio" name="gender" id="gender" value="O"><span>other</span></label>
<span class="gender-message"></span>
<br>
<br>
</div>

<div class="row">
<label>Communities (required)</label>
<br>

<label><input type="checkbox" name="user_community" id="user_community" value="J"><span>Junior</span></label>
<label><input type="checkbox" name="user_community" id="user_community" value="Y"><span>Youth</span></label>
<label><input type="checkbox" name="user_community" id="user_community" value="M"><span>Mentor</span></label>
<label><input type="checkbox" name="user_community" id="user_community" value="F"><span>Friends</span></label>
<label><input type="checkbox" name="user_community" id="user_community" value="U"><span>Updates</span></label>
<input type="hidden" name="user_community_arr" id="user_community_arr">
<span class="helper-community"></span>
</div>
	<br>
	<br>
  <div class="row">
  <div class="input-field col s6">
	<label for="state_location">state (required)</label>

<select name="state_location" id="state_location" onchange="validateState()">
<option value="">Select State</option>
<option value="andaman and nicobar islands">Andaman and Nicobar Islands</option>
<option value="andhra pradesh">Andhra Pradesh</option>
<option value="arunachal Pradesh">Arunachal Pradesh</option>
<option value="assam">Assam</option>
<option value="bihar">Bihar</option>
<option value="chandigarh">Chandigarh</option>
<option value="chhattisgarh">Chhattisgarh</option>
<option value="dadra and nagar haveli">Dadra and Nagar Haveli</option>
<option value="daman and diu">Daman and Diu</option>
<option value="delhi">Delhi</option>
<option value="goa">Goa</option>
<option value="gujarat">Gujarat</option>
<option value="haryana">Haryana</option>
<option value="himachal pradesh">Himachal Pradesh</option>
<option value="jammu and kashmir">Jammu and Kashmir</option>
<option value="jharkhand">Jharkhand</option>
<option value="karnataka">Karnataka</option>
<option value="kerala">Kerala</option>
<option value="lakshadweep">Lakshadweep</option>
<option value="madhya pradesh">Madhya Pradesh</option>
<option value="maharashtra">Maharashtra</option>
<option value="manipur">Manipur</option>
<option value="meghalaya">Meghalaya</option>
<option value="mizoram">Mizoram</option>
<option value="nagaland">Nagaland</option>
<option value="orissa">Orissa</option>
<option value="pondicherry">Pondicherry</option>
<option value="punjab">Punjab</option>
<option value="rajasthan">Rajasthan</option>
<option value="sikkim">Sikkim</option>
<option value="tamil nadu">Tamil Nadu</option>
<option value="tripura">Tripura</option>
<option value="uttaranchal">Uttaranchal</option>
<option value="uttar pradesh">Uttar Pradesh</option>
<option value="west bengal">West Bengal</option></select>
<span class="state-message"></span>
</div>

  <div class="input-field col s6">
  <label for="post_code">postal code (required)</label>
	<input type="text" name="post_code" id="post_code" onfocusout="validatePostal()">
  <span class="helper-text"></span>
</div>
</div>
</div>

<div id="Initiative">
<h2>Initiatives</h2>
	<br>

    <label for="user_training">Training</label>
		<input type="hidden" name="user_training" id="user_training">
    <span class="helper-text"></span>

	  <label for="user_training">events</label>
		<input type="text" name="user_event" id="user_event">
    <span class="helper-text"></span>

</div>

<div id="profile">
<h2>profile</h2>
<br>
<div class="row">
<div class="input-field col s6">
	<label for="user_fb_id">facebook</label>
		<input type="text" name="user_fb_id" id="user_fb_id" onfocusout="facebook_id()">
    <span class="helper-text"></span>
  </div>

<div class="input-field col s6">
	<label for="user_twit_id">twitter</label>
		<input type="text" name="user_twit_id" id="user_twit_id" onfocusout="twitter_id()">
    <span class="helper-text"></span>
  </div>
</div>
<div class="row">
<div class="input-field col s6">
	<label for="lkn_id">Linkedin</label>
		<input type="text" name="lkn_id" id="lkn_id" onfocusout="linkedin_id()">
    <span class="helper-text"></span>
  </div>
  <div class="input-field col s6">
  	<label for="website">Website</label>
		<input type="text" name="website" id="website" onfocusout="websites()">
    <span class="helper-text"></span>
  </div></div>
</div>

<div id="prof_education">
<h2>education</h2>
<br>
<div class="row">
<div class="input-field col s6">
	<label for="uni_name">University Name</label>
			<input type="text" name="uni_name" id="uni_name" onfocusout="university()">
      <span class="helper-text"></span>
    </div>
  </div>
  <div class="row">
  <div class="input-field col s6">
  	<label for="mjr">major</label>
			<input type="text" name="mjr" id="mjr" onfocusout="uni_major()">
      <span class="helper-text"></span>
    </div>
    <div class="input-field col s6">
    	<label for="class">class</label>
			<input type="text" name="class" id="class" onfocusout="uni_class()">
      <span class="helper-text"></span>
    </div>
    <div class="input-field col s6">
		<label for="yoc">year of completion</label>
			<input type="number" name="yoc" id="yoc" onfocusout="yearofcompletion()">
      <span class="helper-text"></span>
    </div></div>
    <div class="row">
		<label for="user_edu_relevant_course">relevent_courses</label>
		<input type="text" name="user_edu_relevant_course" id="user_edu_relevant_course">
    <span class="helper-text"></span>
  </div>
  <div class="row">

	<label for="user_edu_achievement">achievement</label>
	<input type="text" name="user_edu_achievement" id="user_edu_achievement">
  <span class="helper-text"></span>
</div>
<div class="row">

		<label for="user_edu_extracuract">Extracurricular activity</label>
			<input type="text" name="user_edu_extracuract" id="user_edu_extracuract">
      <span class="helper-text"></span>
    </div>
</div>
<div id="work_exp">
<h2>work experience</h2>
<br>
<div class="row">
<div class="input-field col s6">
		<label for="cname">Company</label>
			<input type="text" name="cname" id="cname" onfocusout="work_company()">
      <span class="helper-text"></span>
    </div>
    <div class="input-field col s6">
		<label for="loc">Location</label>
			<input type="text" name="loc" id="loc" onfocusout="work_location()">
      <span class="helper-text"></span>
    </div></div>
    <div class="row">
    <div class="input-field col s6">
	<label for="startdate">Start Date</label>
			<input type="date" name="startdate" id="startdate" onfocusout="work_start_date()">
      <span class="helper-text"></span>
    </div>
        <div class="input-field col s6">
	<label for="enddate">End date</label>
			<input type="date" name="enddate" id="enddate" onfocusout="work_end_date()">
      <span class="helper-enddate"></span>
    </div></div>
    <div class="row">
    <div class="input-field col s6">
	<label for="position">Position</label>
			<input type="text" name="position" id="position" onfocusout="work_position()">
      <span class="helper-text"></span>
    </div>
    <div class="input-field col s6">
  <label for="position">Summary of Responsibility</label>
			<input type="text" name="sor" id="sor" onfocusout="summary_of_responsibility()">
      <span class="helper-text"></span>
    </div></div>
	Achievements
			<input type="text" name="workexp_achievements" id="workexp_achievements">
      <span class="helper-text"></span>

current employment state
<br>
	<label><input type="radio" name="cur_emp_state" id="cur_emp_state" value="E"><span>Employed</span></label>
<label><input type="radio" name="cur_emp_state" id="cur_emp_state" value="S"><span>Seeking Employment</span></label>
<label><input type="radio" name="cur_emp_state" id="cur_emp_state" value="ST"><span>Student</span></label>
<label><input type="radio" name="cur_emp_state" id="cur_emp_state" value="R"><span>Retired</span></label>
<span class="helper-text"></span>
<br>
industry
	<input type="text" name="industry" id="industry">
  <span class="helper-text"></span>
  </div>

	<div id="community_connect">
<h2>community_connect</h2>
<br>
	skills
	<input type="text" name="comm_skills" id="comm_skills">
  <span class="helper-text"></span>
	skills_to_learn
	<input type="text" name="comm_skills_learn" id="comm_skills_learn">
  <span class="helper-text"></span>
	about you
	<input type="text" name="about_you" id="about_you" onfocusout="aboutYou">
  <span class="helper-text"></span>
	potential_matches
	<input type="text" name="pot_mat" id="pot_mat">
  <span class="helper-text"></span>
	</div>

	<div id="volunteer">
		<h2>volunteers</h2>
		<br>
    <div class="input-field col s12">
	<label>volunteers skill (required)<label>
	<select name="vol_skill" id="vol_skill" multiple>
    <option value="math">Math</option>
    <option value="physics">physics</option>
    <option value="chemistry">chemistry</option></select>
  </div>
  <span class="skills-type"></span>

	<label>volunteer types (required) </label>
	<br>
	<label><input type="checkbox" name="vol_types" id="vol_types" value="1"><span>Reader Writer</span></label>
<label><input type="checkbox" name="vol_types" id="vol_types" value="2"><span>Sign Language Interpreter</span></label>
<label><input type="checkbox" name="vol_types" id="vol_types" value="3"><span>Tutor</span></label>
<input type="hidden" name="vol_types_arr" id="vol_types_arr">
<span class="helper-text"></span>
<br>
	<label> Availability (required) </label>
	<br>
  <div class="row">
  <div class="input-field col s12">
	<select name="volunteer_availability" id="availability">
    <option value="" disabled selected>Choose your option</option>
	<option value="monday">Monday</option>
	<option value="tuesday">Tuesday</option>
	<option value="wednesday">Wednesday</option>
	<option value="thursday">Thursday</option>
	<option value="friday">Friday</option>
	<option value="saturday">Saturday</option>
	<option value="sunday">Sunday</option>
	</select>
  <span class="helper-days"></span>
  <label>Days</label>
</div>
  <div class="input-field col s12">
	<select name="vol_availability_time_from_hours" id="vol_availability_time_from_hours">
    <option value="" disabled selected>select hours from</option>
    <option value="5">5 am</option>
  	<option value="6">6 am</option>
  	<option value="7">7 am</option>
  	<option value="8">8 am</option>
  	<option value="9">9 am</option>
  	<option value="10">10 am</option>
  	<option value="11">11 am</option>
    <option value="12">12 pm</option>
    <option value="13">1 pm</option>
    <option value="14">2 pm</option>
    <option value="15">3 pm</option>
    <option value="16">4 pm</option>
    <option value="17">5 pm</option>
    <option value="18">6 pm</option>
    <option value="19">7 pm</option>
    <option value="20">8 pm</option>
  </select><label>Time from</label>
  <span class="helper-timefrom"></span>
</div>


  <div class="input-field col s12">
	<select name="vol_availability_time_to_hours" id="vol_availability_time_to_hours">
    <option value="" disabled selected>select hours to</option>
    <option value="5">5 am</option>
  	<option value="6">6 am</option>
  	<option value="7">7 am</option>
  	<option value="8">8 am</option>
  	<option value="9">9 am</option>
  	<option value="10">10 am</option>
  	<option value="11">11 am</option>
    <option value="12">12 pm</option>
    <option value="13">1 pm</option>
    <option value="14">2 pm</option>
    <option value="15">3 pm</option>
    <option value="16">4 pm</option>
    <option value="17">5 pm</option>
    <option value="18">6 pm</option>
    <option value="19">7 pm</option>
    <option value="20">8 pm</option>
  </select><label>Time from</label>
  <span class="helper-timeto"></span>
</div></div>

	<input type="button" value="ADD" id="add">
	<textarea id="vol_display" readonly></textarea> <input type="button" value="clear" id="clear">

	<input type="hidden" name="vol_availability_obj" id="vol_availability_obj">
	</div>

  <div class = "row">
  <div class="file-field input-field">
  <div class="btn">
	<span>Resume</span>
	<br>
	<input type="file" >
</div>
<div class = "file-path-wrapper">
   <input class = "file-path validate" name="resume_file" id="resume_file" placeholder = "Upload file" onfocusout="fileExtension()">
   <span class="helper-file"></span>
                  </div>
                </div></div>

	<input type="submit" name="submit" value="submit">


</form>
</div>

<script>

var regex=/^[a-zA-Z]+$/;

$('#user_training,#user_event,#user_edu_relevant_course,#user_edu_achievement,#user_edu_extracuract,#workexp_achievements,#comm_skills,#comm_skills_learn,#pot_mat,#industry').tagsInput({

  interactive: true,
  placeholder: 'Add values',
  validationPattern:regex,
  width: 'auto',
  height: 'auto',
  hide: true,
  delimiter: ',',
  removeWithBackspace: true
});
</script>
<script>



$("document").ready(function(){



	$('form').submit(function () {
  if ($(document.activeElement).attr('type') == 'submit')
     return true;
  else return false;
});



	var voltypes=[];
	var usercomm=[];

	$("input:checkbox[name=vol_types]:checked").each(function() {
				 voltypes.push(parseInt($(this).val()));
			// alert(voltypes);
		});
		var newval=$('#vol_types_arr').val(voltypes);
$('select').formSelect();
var list=[];

$('#add').click(function(){
$('#user_training,#user_event,#user_edu_relevant_course').importTags("")

var days=$('#availability').val();
var from_hours=$('#vol_availability_time_from_hours').val();
var to_hours=$('#vol_availability_time_to_hours').val();
if(!days){
  alert("days cannot be empty")
  return
}

var obj={day :days,
		time_from :parseInt(from_hours),
		time_to :parseInt(to_hours)
};


if(list.length>0){
	var ispushed=false;
	list.forEach((item)=>{
		if((item.day==obj.day)&&(item.time_from==obj.time_from))
		{
			alert('schedule already exist')
			ispushed=true;
		}

	});
	if(ispushed==false){
	list.push(obj);
}
}else {
	list.push(obj);
}

 var arrval="  ";
list.forEach((item)=>{
arrval=arrval + item.day+" "+item.time_from+" "+item.time_to+"\n"
//arrval=arrval + (item.day +" FROM "+item.days_from.replace(".", ":")+" TO "+item.dats_to.replace(".", ":")) ;
$('#vol_display').val(arrval);
});

$('#vol_availability_obj').val(JSON.stringify(list));

//$('vol_availability_obj').val(list);

//alert(text);

$('#Availability,#vol_avaibility_time_from_hours,#vol_avaibility_time_to_hours').val("");
});

$('#clear').click(function(){
list.pop();
alert(list);
var arrvalclear="";
$('#vol_display').val(null);
list.forEach((item)=>{
arrvalclear=arrvalclear + Object.values(item);

$('#vol_display').val(arrvalclear);
});
//$('#vol_display').val(null);

});


$("#community_connect,#personal_info,#Initiative,#profile,#prof_education,#work_exp,#volunteer").hide();
$('input[name="user_Type"]').change(function(){
        if($('#user_Type1,#user_Type2,#user_Type3').is(":checked"))
		{

			$('#profileform')[0].reset();
            //$("#user_edu_achievement,#workexp_achievements,#sor,#user_edu_extracuract,#community_connect").attr('disabled', true);
		//	 $("#community_connect").hide();$('.tagsinput#tags').removeTag('bar')

			 $("#volunteer,#personal_info,#Initiative,#profile,#prof_education,#work_exp").show();
        }
		else if($("#user_Type4").is(":checked")){

			$("#community_connect,#personal_info,#Initiative,#profile,#prof_education,#work_exp").show();
			$("#volunteer").hide();

        }else{
		}
    });

	});

</script>
<script src="js/profile-validation.js"></script>
<script type="text/javascript" src="js/auth.js"></script>


</body>
</html>
