<html>
<body>
<h2>Upload Video</h2>
<form id="upload-form" action="/uploadVideo" method="POST" enctype="multipart/form-data">
  <h2>Select a video to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="video"></div>
  <div><input type="submit" value="Upload Video"></div>
</form>

<p id="message"></p>
<div id="divid"></div>
<hr>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

       document.getElementById('divid').innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>
</body>
</html>