<p>Greetings!</p>
<p>The following user has confirmed that you are the final volunteer. </p>
<h2>User Details</h2>
<p>Name: {{firstName}} {{lastName}}</p>
<p>Email: {{email}}</p>

<p>Regards.</p>
<p>I-Stem Team</p>